SECRET_KEY = 'ny033+z#r)$cpjl9gnbi*v=p8rjl2(%3-f&*v(mhi4#^eur9u8'
DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'pictor-db',
        'PORT': 5432,
    }
}

ALLOWED_HOSTS = ['pictor-web', 'localhost']

BASE_DIR = '/pictor'

SRC_DIR = '{}/src'.format(BASE_DIR)
TMP_DIR = '{}/tmp'.format(BASE_DIR)
DEST_DIR = '{}/dest'.format(BASE_DIR)

STATIC_ROOT = "/static"

# baseurl, username, password, repo_id
ARCHIVESSPACE = (
  "http://localhost:8089/",
  "admin",
  "admin",
  2,
)

# region_name, access_key, secret_key, bucket
AWS = (
  "us-east-1",
  "123456789",
  "987654321",
  "rac-iiif",
)

# baseurl
IMAGESERVER_URL = "https://iiif.rockarch.org"

# Prezi set_debug
PREZI_DEBUG_LEVEL = "error"
