ArchivesSnake==0.9.1
asterism==0.7.4
boto3==1.20.38
Django==4.0.1
djangorestframework==3.13.1
health-check==3.4.1
img2pdf==0.4.3
iiif-prezi==0.3.0
ocrmypdf==12.7.2
psycopg2-binary==2.9.3
shortuuid==1.0.8
git+https://github.com/IIIF/prezi-2-to-3@6fb21e0643e47e7fb9cbf8468d5bfa0de258aa13
vcrpy==4.1.1
